# Environment variables
.env

# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Streamlit cache
.streamlit/cache/

# Misc
*.log